:root {
    --bg-dark: #f5f5f5;
    --bg-light: #203354;
    --fg-light: #e3d3d3;
    --callout: #528AAE;
    --callout-dark: #FFD580;
  }
  
  * {
      font-size: 14px;
  }
  
  html, body, main {
      background-color: var(--bg-dark);
      color: #fff;
      font-family: "Inter", Arial, Helvetica, sans-serif, "Noto Color Emoji";
      font-weight: 400;
      text-shadow: white 0px 0px 0px;
      height: 100%;
  }
  
  main {
      display: flex;
  }
  
  button:hover:not(.active) {
      filter: brightness(1.15);
      cursor: pointer;
  }
  
  #sidebar {
      flex: 3 30%;
      display: flex;
      flex-direction: column;
      overflow: auto;
      background-color: var(--bg-light);
  }
  
  #room-list {
      display: flex;
      flex-direction: column;
      overflow: auto;
      flex: 1;
  }
  
  #sidebar button {
      height: 40px;
      margin-bottom: 1px;
      background: var(--bg-light);
      color: #fff;
      overflow: hidden;
  }
  
  #sidebar button.active {
      background: var(--bg-dark);
      color: var(--callout);
      font-weight: bold;
      box-shadow: 0px 2px 2px rgba(0,0,0,0.9);
      z-index: 10;
  }
  
  #content {
      flex: 7 100%;
      overflow: auto;
      display: flex;
      flex-direction: column;
  }
  
  .message {
      display: flex;
      flex-direction: column;
      padding: 10px 0;
      color: #3c3838;
  }
  
  .message:last-child {
      padding-bottom: 20px;
      color: #3c3838;
  }
  
  .message .username {
      font-weight: bold;
      padding-bottom: 5px;
      color: #3c3838;
  }
  
  #messages {
      padding: 10px 20px;
      flex: 1;
      color: #3c3838;
  }
  
  form#new-message {
      bottom: 0;
      position: sticky;
      flex: 0 0 auto;
      width: 100%;
      color: #3c3838;
  }
  
  form {
      display: flex;
      border-top: 2px solid #242424;
  }
  
  form * {
      height: 40px;
      background: var( --bg-dark);
      color: var(--callout);
  }
  
  input {
      padding: 0 10px;
  }
  
  input:focus {
      outline: 0;
      filter: brightness(1.05);
  }
  
  input#username {
      text-align: right;
      flex: 1 25%;
      width: 25%;
      border-right: 1px solid #303030;
      color: #3c3838;

  }
  
  input#message {
      flex: 10 100%;
      color: #000000;
  }
  
  form button {
      padding: 0 10px;
  }
  
  #sidebar #new-room {
      display: flex;
      flex: 0 0 auto;
      flex-direction: row;
  }
  
  #new-room input:focus, #new-room button:hover {
      filter: brightness(1.2);
  }
  
  #new-room input {
      flex: 8 80%;
      width: 20%;
      background-color: var(--callout-dark);
      color: #020101;
  }
  
  #new-room button {
      flex: 2 20%;
      width: 20%;
      background-color: var(--bg-dark);
  }
  
  #status {
      padding: 5px 10px;
      text-align: center;
      font-size: 12px;
  }
  
  #status.pending::before {
    content: "Status: Connected";
  }
  
  #status.pending {
      background-color: #f699cd;
      color: #000;
  }
  
  #status.connected::before {
    content: "Status: Connected";
  }
  
  #status.connected {
      background-color: #acd8a7;
      color: #fff;
  }
  
  #status.reconnecting::before {
    content: "Status: Reconnecting";
  }
  
  #status.reconnecting {
      background-color: #D0212D;
      color: #fff;
  }